[submodule "slides/2015-09-paraunit-pugmi"]
	path = slides/2015-09-paraunit-pugmi
	url = https://github.com/Jean85/reveal.js.git
	branch = paraunit_pugmi
[submodule "slides/2015-10-paraunit-symfonyday"]
	path = slides/2015-10-paraunit-symfonyday
	url = https://github.com/Jean85/reveal.js.git
	branch = paraunit_symfonyday2015
[submodule "slides/2015-11-unica"]
	path = slides/2015-11-unica
	url = https://github.com/Jean85/reveal.js.git
	branch = 1511_unica
[submodule "slides/2016-03-hexagonal"]
	path = slides/2016-03-hexagonal
	url = https://github.com/Jean85/reveal.js.git
	branch = hexagonal_lightning_talk
