[submodule "slides/2015-09-paraunit-pugmi"]
	path = slides/2015-09-paraunit-pugmi
	url = https://github.com/Jean85/reveal.js.git
	branch = paraunit_pugmi
[submodule "slides/2015-10-paraunit-symfonyday"]
	path = slides/2015-10-paraunit-symfonyday
	url = git@github.com:Jean85/reveal.js.git
	branch = paraunit_symfonyday2015
