.reveal section img {
    border: 0;
}

.reveal section img.avatar {
    float: left;
    border-radius: 0.5em;
    margin-right: 1em;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

img#logo-engineering {
    position: absolute;
    height: 12%;
    bottom: 10px;
    left: 10px;
}

img#logo-sfcon {
    position: absolute;
    width: 5em;
    bottom: 0.1em;
    left: 50%;
    margin-left: -2.5em;
}

div.credit.white a,
.reveal section.white h1,
.reveal section.white h2,
.reveal section.white h3,
.reveal section.white h4,
.reveal section.white p,
.reveal section.white li,
.reveal section.white span,
.reveal section.white div {
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    color: white;
}

span.grey {
    color: grey;
}

.reveal ul {
    list-style-type: none;
}

.reveal section div.credit {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: smaller;
}

.reveal section tr.smaller td span.black-box,
.reveal section div.smaller,
.reveal section span.smaller {
    font-size: smaller;
}

.reveal span.black-box {
    color: white;
    padding: 0.1em 0.3em 0.2em;
    background: slategrey;
    border-radius: 0.2em;
}

table#schema-table tr {
    border: none;
}

table#schema-table td {
    border: none;
    text-align: center;
    vertical-align: middle;
}

table#schema-table td span.black-box {
    margin: 0.5em;
}

section aside.notes p.time {
    font-size: larger;
    font-weight: bolder;
}
