{{ with .Params.youtube }}
<div style="position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0;">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ . }}"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
            width="560" height="349"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>
{{ end }}

{{ with .Params.vimeo }}
<div style="position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0;">
    <iframe src="https://player.vimeo.com/video/{{ . }}"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
            width="640" height="360"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen>
    </iframe>
</div>
{{ end }}

<p>
    {{ with .Params.conferenceUrl }}
    Talk presented at
    <a href="{{ . }}" target="_blank">
        {{ end }}
        {{ .Params.conference }} ({{ .Params.location }})
        {{ with .Params.conferenceUrl }}
    </a>
    <br />
    {{ end }}

    {{ with .Params.slides }}
    <a target="_blank" href="/slides/{{ . }}/">
        <img src="/images/{{ $.Params.language }}.svg.webp" alt="Language: {{ $.Params.language }}" style="vertical-align: middle" />
        Slides available
    </a>
    {{ else }}
    <img src="/images/{{ .Params.language }}.svg.webp" alt="Language: {{ .Params.language }}" style="vertical-align: middle" />
    {{ end }}

    {{ with .Params.joindin }}
    <br />
    See talk comments on <a href="https://joind.in/talk/{{ . }}" target="_blank">Joind.in</a>.
    {{ end }}
</p>
