<article class="list__item post">
	{{- if .Params.thumbnail }}
	<figure class="list__thumbnail">
		<a href="{{ .Permalink }}">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
		</a>
	</figure>
	{{- end }}
	<header class="list__header">
		<h3 class="list__title post__title ">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h3>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		Talk presented at
		{{ with .Params.conferenceUrl }}
		<a href="{{ . }}" target="_blank">
		{{ end }}
			{{ .Params.conference }} ({{ .Params.location }})
		{{ with .Params.conferenceUrl }}
		</a>
		{{ end }}
		{{ .Summary }}
	</div>
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" style="white-space: nowrap" target="_blank" href="/slides/{{ .Params.slides }}/">
			{{ with .Params.language }}
				<img src="/images/{{ . }}.svg.webp" alt="Language: {{ . }}" style="vertical-align: middle" /> 
			{{ end }}
			Slides...
		</a>
	</div>
</article>
