<article class="list__item post">
	{{- if .Params.thumbnail }}
	<figure class="list__thumbnail">
		<a href="{{ .Permalink }}">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
		</a>
	</figure>
	{{- end }}
	<header class="list__header">
		<h3 class="list__title post__title ">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h3>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ with .Params.youtube }}
		<div style="position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0;">
			<iframe src="https://www.youtube-nocookie.com/embed/{{ . }}"
					style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
					width="560" height="349"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen>
			</iframe>
		</div>
		{{ end }}
		{{ with .Params.vimeo }}
		<div style="position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0;">
			<iframe src="https://player.vimeo.com/video/{{ . }}"
					style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
					width="640" height="360" 
					frameborder="0" 
					allow="autoplay; fullscreen" 
					allowfullscreen>
			</iframe>
		</div>
		{{ end }}
		<p>
			Talk presented at
			{{ with .Params.conferenceUrl }}
			<a href="{{ . }}" target="_blank">
				{{ end }}
				{{ .Params.conference }} ({{ .Params.location }})
				{{ with .Params.conferenceUrl }}
			</a>
			{{ end }}

			{{ with .Params.joindin }}
			<br />
			See talk comments on <a href="https://joind.in/talk/{{ . }}" target="_blank">Joind.in</a>.
			{{ end }}
			
			{{ .Summary }}
		</p>
	</div>
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" style="white-space: nowrap" target="_blank" href="/slides/{{ .Params.slides }}/">
			{{ with .Params.language }}
				<img src="/images/{{ . }}.svg.webp" alt="Language: {{ . }}" style="vertical-align: middle" /> 
			{{ end }}
			Slides...
		</a>
	</div>
</article>
